body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

img {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

.embed-responsive {
    margin-top: 20px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.1em;
}

.navbar-brand {
    font-weight: 700;
}

.navbar {
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: #343a40;
}

.container {
    margin-top: 50px;
}

section {
    margin-bottom: 50px;
}

.img-fluid{
    
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.img-thumbnail {
    border: none;
    border-radius: 15px;
}
